
body {
  background-color: #b3e6ff;
  font-family: sans-serif;
  font-size: 16px;

}

#tienpic {
  float: right;
  border: 2px solid blue;
  margin: 10px;
  padding: 2px;

}

.well {
  background-color: pink;
}

.jumbotron {
  background-color: #ffb3bf;
}

.links a {
  padding-right: 10px;

}

.projectlist {
  margin: 10px;
  padding: 10px;
}

.projectlist li {
  font-weight: bold;
  color: #0099e6;
}

.toplist {
  font-weight: bold;
  font-size: 24px;
}

hr {
  border-width: medium;

}

.sidebar {
  float: right;
  border: 2px solid blue;
  padding: 8px;
  margin: 10px;

}
